@font-face {
  font-family: 'Tatsam';
  src: url('https://raw.githubusercontent.com/aishikrehman/resources/main/web-fonts/bn/tatsam%20bengali/Tatsam-Bengali-Light.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/aishikrehman/resources/main/web-fonts/bn/tatsam%20bengali/Tatsam-Bengali-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  unicode-range: U+0980-09FF;
}
