@import url(&#39;https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali&amp;display=swap&#39;);
            @import url(&#39;https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap&#39;);
            @font-face {
                font-family: &#39;Tatsam&#39;;
                font-weight: normal;
                font-style: normal;
                font-display: swap;
                font-weight: 400;
                unicode-range: U+0980-09FF;
                src:    url(&#39;https://raw.githubusercontent.com/aishikrehman/resources/main/web-fonts/bn/tatsam%20bengali/Tatsam-Bengali-Light.woff2&#39;) format(&#39;woff2&#39;),
                        url(&#39;https://raw.githubusercontent.com/aishikrehman/resources/main/web-fonts/bn/tatsam%20bengali/Tatsam-Bengali-Light.woff&#39;) format(&#39;woff&#39;);
                
            }
            @font-face {
                font-family: &quot;Shurjo&quot;;
                font-display: swap;
                font-style: normal;
                font-weight: 500;
                unicode-range: U+0980-09FF,U+0020;
                src: 	url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2-6a682f6f610beeda14f0.woff2) format(&#39;woff2&#39;),
                        url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2-f516035cb806da4a249e.woff) format(&quot;woff&quot;),
                        url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2-46e441a492e5db01a626.ttf) format(&quot;truetype&quot;);
            }
            
            :root {
                --black: #282A35;
                --green: #006d5a;
                --purple: #4c0bce;
                --violet: #712cf9;
                --accent: #ffe484;
                --bn-text: &#39;Tatsam&#39;, Roboto;
                --en-text: &#39;Roboto&#39;, sans-serif;
                --en-code: Tatsam, courier new, Shurjo;
                }
            body {font-family: var(--bn-text);}
            .zero-logo-toggle {display: flex;}
            #SidebarMenu button {border-radius: 0em;border: none;}
            #SidebarMenu .nav-link {color: var(--green);text-align: left;}
            #SidebarMenu .active {background-color: var(--green);color: #ffffff;}
            #next-prev {display: flex;justify-content: space-between;}
            
            /* Post section */
            .post-body {font-size: 1.2rem; font-family: var(--en-code);}
            .post-body h3 {font-size: 28px; font-weight: 500; letter-spacing: 0; line-height: 1.5em; padding-bottom: 15px; position: relative;}
            .post-body h3:before {content: &quot;&quot;;position: absolute;left: 0;bottom: 0;height: 5px;width: 55px;background-color: #111;}
            .post-body h3:after {content: &quot;&quot;;position: absolute;left: 0;bottom: 2px;height: 1px;width: 95%;max-width: 255px;background-color: #333;}
    
            /* Scrollbar CSS */
            .bd-sidebar {scrollbar-width: auto;scrollbar-color: #8f54a0 #ffffff;} /* Firefox */
            .bd-sidebar::-webkit-scrollbar {width: 15px;} /* Chrome, Edge, and Safari */
            .bd-sidebar::-webkit-scrollbar-track {background: #ffffff;}
            .bd-sidebar::-webkit-scrollbar-thumb {background-color: #f6f6f6; border-radius: 10px; border: 3px solid #ffffff;}
            .zerodemy-body .offcanvas-start {width: 80%;}

            /* Header CSS */
            .zero-dev-header {z-index: 1021;}
            .zero-dev-header a {color: black;text-decoration: none;}
            .zero-dev-header a:hover,
            .zero-dev-header a:focus {color: var(--green);}
            .zero-dev-header .bi {color: black;}
            .zero-dev-header .navbar .megamenu {padding: 1rem;}
        
            
            @media all and (min-width: 992px) {
                .navbar .has-megamenu{
                    position:static!important;
                    }
                .navbar .megamenu{
                    left:0; right:0;
                    width:100%;
                    margin-top:0;
                    }
            }	
            @media(max-width: 991px){
                .navbar.fixed-top .navbar-collapse,
                    .navbar.sticky-top .navbar-collapse {
                        overflow-y: auto;max-height: 90vh;
                        margin-top:10px;
                }
                    .navbar-nav {
                text-align: center;
                }
                .dropdown-menu.megamenu.show {
                margin-top: auto;
                }
            }
